body {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

header {
    flex-basis: 100%;
    text-align: center;
    border: thin solid black;
}

header ul {
    padding-left: 0%;
    display: flex;
    list-style-type: None;
}

header li {
    flex-grow: 1;
    text-align: center;
    border: thin solid black;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    border: thin solid black;
}

main li {
    list-style: none;
}

aside {
    flex-grow: 1;
    flex-basis: 15%;
    border: thin solid black;
    height:min-content;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    flex-grow: 0;
    border: thin solid black;
    background-color: lightgrey;
}